body,
html {
  padding: 0;
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  background: #be3144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 #262728;
          box-shadow: 0 0 10px 0 #262728;
}

.navbar-logo:hover {
  background: #45567d;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
  margin: 0;
}

.navbar-list li {
  list-style: none;
  font-size: 2em;
  padding: 20px 7px 20px 7px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 400px) {
  .navbar-list li {
    font-size: 1em;
  }
}

.navbar-list li:hover {
  background: #45567d;
}

.welcome-section {
  background: #262728;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-section h1 {
  color: #fff;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 4em;
}

@media (max-width: 400px) {
  .welcome-section h1 {
    font-size: 2em;
  }
}

.welcome-section p {
  color: #be3144;
  margin: 0;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 400px) {
  .welcome-section p {
    font-size: 1em;
  }
}

.projects-section {
  margin: 0;
  padding: 0;
  background: #45567d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

.projects-section-heading {
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

@media (max-width: 400px) {
  .projects-section-heading {
    font-size: 1.25em;
  }
}

.projects-section-gallery {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  max-width: 600px;
}

@media (max-width: 400px) {
  .project-title {
    max-width: 300px;
  }
}

.project-title img {
  height: 600px;
}

@media (max-width: 400px) {
  .project-title img {
    height: 300px;
  }
}

.project-title span {
  color: #262728;
  margin: 10px;
}

.image-text {
  height: 10%;
  background-color: #262728;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #f0f0f0;
}

@media (max-width: 400px) {
  .image-text {
    font-size: 0.5em;
  }
}

.project-title:hover span {
  color: #fd7f50;
}

.text-decoration-hover {
  font-family: "Raleway", sans-serif;
}

.projects-section-button {
  border: none;
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
  background: #262728;
  text-align: center;
  width: 200px;
  font-size: 1.5em;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 400px) {
  .projects-section-button {
    font-size: 0.75em;
    padding: 5px;
    width: 100px;
  }
}

.projects-section-button:hover {
  background: #be3144;
}

.footer-section {
  background: #262728;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
}

.footer-section-heading {
  text-align: center;
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}

@media (max-width: 400px) {
  .footer-section-heading {
    font-size: 2em;
  }
}

.footer-section-subheading {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  margin: 5px 0 60px 0;
  font-size: 2em;
}

@media (max-width: 400px) {
  .footer-section-subheading {
    font-size: 1.25em;
    margin: 2px 0 30px 0;
  }
}

.social-media-bar {
  width: 70%;
  margin: 10px auto 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 15px 5px 15px;
}

.social-media-bar-item img {
  background: #f0f0f0;
  padding: 0;
  margin: 5px;
}

.social-media-bar-item a {
  text-decoration: none;
  text-align: center;
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.twitter {
  background: #262728;
}

.mail {
  background: #262728;
}

.social-media-bar-item:hover {
  padding-top: 15px;
}

.social-media-bar-item img {
  width: 1.5em;
  height: 1.5em;
}

.footer-divider {
  width: 100%;
  height: 5px;
  background: #be3144;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 30px;
}

.footer p {
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-style: normal;
}

@media (max-width: 400px) {
  .footer p {
    font-size: 0.75em;
  }
}
/*# sourceMappingURL=styles.css.map */